* {
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
}

/* général */

html,
body {
    font-family: "Open Sans", sans-serif;
    color: #222;
}
h1,
h2,
h3 {
    margin-bottom: 2px;
}

a {
    color: #222;
    text-decoration: none;
}
a:hover{
    color:blue;
}
p {
    margin-bottom: 10px;
}

li {
    padding: 5px;
    margin: 2px;
}
img{
    width: 10%;
    margin: 10px;
}

/* navBar */

#navbar{
    width: 20rem;
    border: 1px solid black;
}
#navbar li{
   text-decoration: none;
}
.menuBoard{
    display: none;
}

.navBoard:hover .menuBoard {
  display: block;
}     


                                                                                                                                                                                                                                                                                                                    